@use 'src/styles/vars' as v ;
@import 'src/styles/vars' ;

// Style

.container-projets{

  h2{
    @include hugeTitle;
    margin-bottom: 5vw;
  }

// La liste qui contient toutes les cartes
  &--list{
    display: flex;
    justify-content: space-between;
    gap: 10vw;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;

  }

// Début du style de chaque carte
  &--cardsboard {
    display: flex;
    @include flexCenter;
    height: 100%;
    position: relative;    
    border-radius: 20px;
    
    &--card{
    flex: initial;
    position: relative;
    height: 25vw;
    width: 20vw;
    -moz-perspective: 200rem;
    perspective: 200rem;

// ScrollBar personnalisée des cards
    & ::-webkit-scrollbar-track
    {
      background-color: rgba(v.$black, 0.1);
      border-radius: 2px;
    }

    & ::-webkit-scrollbar
    {
      width: 10px;
    }

    & ::-webkit-scrollbar-thumb
    {
      border-radius: 2px;
      background-color: rgba(v.$blue, 0.7);
    }

// Style sur chaque côté
  &__side {
    height: 30vw;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2rem 6rem rgba(v.$black, 0.15);

// Devant des cartes
  &--front {
    border-radius: 20px;
    background-size: cover;

  }


// Derrière des cartes
  &--back {
   overflow-y: auto;
   background-color: v.$white;
   transform: rotateY(180deg);
   border-radius: 20px;
  }
 }

 &:hover &__side--back {
  transform: rotateY(0);
  transform: scale(1.2);
 }
 &:hover &__side--front {
  transform: rotateY(-180deg);
 }

 
 // Côté back des cartes
 &__cover {
  position: relative;
  background-size: cover;
  height: 10rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: v.$yellow;
 }

 &__heading {
  text-align: center;
  color: v.$white;
  @include absCenter;
  width: 80%;
 }

 &__heading-span {
  font-size: 2rem;
  font-family: v.$title-font;
  font-weight: 700;
  text-transform: uppercase;
  color: v.$white;
 }

  &__containerBouttonGalerie{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
}

 &__bouttonGalerie{

  @include button;
  font-size: 0.9rem;
  border:1px solid v.$black;
  padding: 6px;
 }

 a{
  text-decoration: none;
  color: v.$black;
  &:visited{
    color: v.$black;
  }
}

 &__details {

  ul {
   list-style: none;
   margin: 0 auto;

   .span-round{
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: v.$blue;
    &:last-child{
      display: none;
    }
    &:nth-child(4n){
      background-color: v.$yellow;
    }
   }

   .technos{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    font-size: 0.8em;

   }

   li {

    font-family: v.$global-font;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    margin-right: 30px;

    &:first-child{
      text-align: justify;
      font-size: 0.9em;
    }

    &:not(:last-child) {
     border-bottom: 1px solid v.$black;
    }
    }
}}}}

}
// Modal qui pop pour la galerie de chaque projet
.modal {

  background-color: rgba(0, 0, 0, 0.5); 
  transition: 0.5s; 
  position: fixed;
  top: 0;
  left: 0;

  &--slider{

    width: 75vw;
    margin: auto;
    margin-top: 10vh;

    button{
      transform: scale(3);
    }

    .slick-active{

      button::before {
        color: v.$yellow;
      }
    }

  }

  &--bouttonClose{

    background-color: v.$yellow;
    color: v.$blue;
    position: fixed;
    top: 20px;
    right: 50px;
    transform: scale(2);
    box-shadow: 3px 3px 0 v.$dark-blue;
    border: none;
    transition: 0.5s;

    &:hover{
      color: v.$dark-blue;
      background-color: v.$dark-yellow;
      box-shadow: 1px 1px 0 v.$blue;
    }
  }

  &.open {
    width: 100%; 
    height: 100%; 
    z-index: 5;
    opacity: 1;

  }

  &.closed {
    display: none;
    opacity: 0; 
  }

}


.portfolio {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

@media (max-device-width : 1024px){
  .container-projets{

    &--list{
      flex-direction: column;

    }
    &--cardsboard{
      &--card{
        width: 70vw;
        height: 60vh;
        &__side{
          width: 70vw;
          height: 60vh;
        }
      }
    }
  }
}
