@use 'src/styles/vars' as v ;

.title-top{
  grid-area: 1 / 3 / 6 / 6; 
  align-items: center;
  min-width: 350px;
  margin:auto;
  
  &--name{
    font-size: 5rem;
    color: v.$blue;
  }

  &--dev{
    font-size: 2.5rem;
    color: v.$grey;
    font-family: v.$global-font;
    display: inline;
  }

  @media (max-device-width : 1024px){
    grid-area: 1 / 1 / 3 / 6 ;
    margin-left: 10%;
  }

}

@media (max-device-width : 420px){
.title-top{
  &--name{
    font-size: 1em;
  }
}

}
// @media (max-device-width : 740px){
//   .title-top{
//     min-width: 10px;
//     grid-area: 1 / 1 / 1 / 1; 
//     margin: auto;

//     &--name{
//       font-size: 2em;
//     }
//     &--dev{
//       font-size: 1em;
//     }
//   }
// }
