@use 'src/styles/vars' as v ;
@import 'src/styles/vars';


.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: v.$black;
  transition: 0.2s;

  &-hover {
    background: v.$grey;
  }
}

.bm-cross {
  background: v.$black;
}

.bm-menu {
  background: v.$yellow;
  padding: 10px;
  font-size: 1.5em;
}

.bm-morph-shape {
  fill: v.$yellow;
}

.bm-item-list {
  a{
    padding: 10px 30px;
    text-decoration: none;
    color: v.$black;
    display:inline-block; 
    margin:0;
    text-transform:uppercase;

    i{
      margin-right: 10px;
      transition: all 0.3s ease !important;
    }

    &:after {
      display:block;
      content: '';
      border-bottom: solid 3px v.$white;  
      transform: scaleX(0);  
      transition: transform 250ms ease-in-out;
    }

    &:hover:after { 
      transform: scaleX(1); 
    }

    &:hover i {
      color: v.$white;
    }
  }

}

