@font-face {
  font-family: 'Playfair Display';
  src: url('/src/assets/fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
  font-family: 'Playfair Display ExtraBold';
  src: url('/src/assets/fonts/PlayfairDisplay-ExtraBold.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Generic
$white: #F5F5F5;
$yellow: #FEBD59;
$dark-yellow: #D48115;
$blue: #3E6B8A;
$dark-blue: #344B5A;
$black: #444444;
$grey: #717171;

// Global
$global-font: 'Raleway', sans-serif;
$global-font-weight: 400;

// Title
$huge-title-font: 'Playfair Display ExtraBold', serif;
$huge-title-font-weight: 700;
$title-font: 'Playfair Display', serif;
$title-font-weight:700;

// Mixins
@mixin hugeTitle{
  font-family: $huge-title-font;
  font-weight: $huge-title-font-weight;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  color: $black;
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 
 @mixin flexCenter {
  flex-flow: row;
  align-items: center;
  justify-content: center;
 }

 

@mixin button{
    color: $black;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 2px solid $white;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.2s;
    
    &:after {
    content: "";
    background-color: v.$yellow;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  &:hover:after {
    top: 0px;
    left: 0px;
  }
  

}
