@font-face {
  font-family: 'Playfair Display';
  src: url('/src/assets/fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
  font-family: 'Playfair Display ExtraBold';
  src: url('/src/assets/fonts/PlayfairDisplay-ExtraBold.ttf');
}


// Generic
$white: #F5F5F5;
$yellow: #FEBD59;
$dark-yellow: #D48115;
$blue: #3E6B8A;
$dark-blue: #344B5A;
$black: #444444;
$grey: #717171;

// Global
$global-font: 'Playfair Display', serif;
$global-font-weight: 300;

// Title
$title-font: 'Playfair Display ExtraBold', serif;
$title-font-weight: 500;

// Mixins
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 
 @mixin flexCenter {
  flex-flow: row;
  align-items: center;
  justify-content: center;
 }
 
@mixin titre {
  font-size: 3em;
  font-family: $title-font;
  font-weight: $title-font-weight;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  color: $black;
}
