@use 'reset';
@use 'src/styles/vars' as v ;


html{
  scroll-behavior: smooth
}

body {
  background-color: v.$white;
  font-family: v.$title-font;
  height: 200vw;

}

.backUp{

  float: left;
  color: v.$yellow;
  position: relative;
  top: -200px;
  left: 50px;
  transition: all 0.2s ease;

  i {
    transform: scale(2);
  }

  &__parcours{
    top: 250px ;
    color: v.$white;
    &:hover{
      text-shadow: 1px 1px 10px rgba(v.$white, 0.3);
      transform: scale(1.05);
    }
  }

  &__projets{
    color: v.$dark-yellow;
    top: 0;
    &:hover{
      color: v.$yellow;
      text-shadow: 1px 1px 15px rgba(v.$yellow, 0.3);
      transform: scale(1.05);
    }
  }

  &__aboutme{
  color: v.$white;
  top: -150px;
  &:hover{
    color: v.$white;
    text-shadow: 1px 1px 10px rgba(v.$white, 0.6);
    transform: scale(1.05);
  }
  }

  &__contact{
    color: v.$dark-yellow;
    top: 100px;
    &:hover{
      color: v.$yellow;
      text-shadow: 1px 1px 10px rgba(v.$yellow, 0.3);
      transform: scale(1.05);
    }
  }

  

}
