@use 'reset';
@use 'src/styles/vars' as v ;


html{
  scroll-behavior: smooth
}

body {
  background-color: v.$white;
  font-family: v.$title-font;
  height: 200vw;

}

.backUp{

  float: left;
  color: v.$yellow;
  position: relative;
  top: -200px;
  left: 50px;

  &__parcours{
    top: 250px ;
  }
  &__projets{
    top: 0;
  }
  i {
    transform: scale(2);
  }

  &__aboutme{
  color: v.$white;
  top: -100px;
  }

}
