@use 'reset';
@use 'src/styles/vars' as v ;


html{
  scroll-behavior: smooth
}

body {
  background-color: v.$white;
  font-family: v.$global-font;
  height: 200vw;

}


@media (max-device-width : 420px){
  h2{
    font-size: 1.5rem;
  }
}
