@use 'src/styles/vars' as v ;

.BlocParcours-container{

  background-color: v.$blue ;
  display: flex;
  gap: 10vw;
  padding: 10vw;
  padding-bottom: 5vw;
  position: relative;
  top: -100px;
  z-index: -1;

  &--timeline{
    width: 60%;
  }

  @media (max-device-width : 1024px){
    flex-direction: column;
    gap: 0;
    &--timeline{
      width: 100%;
    }
  }
}
