@use 'src/styles/vars' as v ;

.BlocParcours-container{

  background-color: v.$blue ;
  display: flex;
  gap: 10vw;
  padding: 10vw;
  padding-bottom: 5vw;
  position: relative;
  top: -100px;
  z-index: -1;

  &--timeline{
    width: 60%;
  }

}
