@use 'src/styles/vars' as v ;
@import 'src/styles/vars' ;

.contact-container{
  h2{
    @include hugeTitle;
    padding : 10vh; 
  }

  &--form{
    width: 50vw;
    margin: auto;
    display: flex;
    flex-direction: column;

    &--button {
      @include button;
      font-family: v.$global-font;
      font-weight:400;
      font-size: 1.2em;
      border-color: v.$blue;
      margin: 7vh auto;
    }
  &--item {
	position: relative;
  margin: 1vh 15vw;

  &-textarea{
    margin: 1vh 5vw;
    textarea{
      resize: vertical;
    }
  }

  &-file{
    margin: auto;
    input[type="file"] {
    display: none;
    }
  
  .file {
    @include button;
    font-family: v.$global-font;
    font-weight:500;
    font-size: 0.8em;
    border-color: v.$blue;
    }
  }

  .inputText{
    padding: 10px;
    width: 100%;
    outline: none;
    border:3px solid v.$blue;
    box-shadow: none !important;
    border-radius:5px;

     &:focus{
      border: 3px solid v.$yellow;
     }
  }

  .floating-label {
    color: v.$grey;
    font-weight: 600;
    position: absolute;
    pointer-events: none;
    top: 38px;
    left: 10px;
    transition: 0.2s ease all;
  }

  input:focus ~ .floating-label,
  input:not(:focus):valid ~ .floating-label,
  textarea:focus ~ .floating-label,
  textarea:not(:focus):valid ~ .floating-label{
	top: 0px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
  }

  }
}}


@media (max-device-width : 1024px){
  .contact-container{
    &--form{
      width: 80vw;
    }

    .file{
      width: 15vw;
    }
  }
}
